{% extends "base.html" %}
{% block content %}

		<!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
                            <h4 class="text-center" style="margin-bottom: 0;">WELCOME TO FOODONLINE</h4>
                            <p class="text-center">Please fill this form to get yourself onboarded in the foodOnline marketplace.</p>
                            <hr>
                            <div id="restaurant-sets-holder">
                                <form class="form-fields-set foodbakery-dev-restaurant-form" method="post" action="register-select-package.html">
                                    <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <ul >
                                                            <li>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>First name</label><input type="text" class="foodbakery-dev-req-field" id="foodbakery_restaurant_title_59054637" name="foodbakery_restaurant_title">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Last name</label><input type="text" id="foodbakery_restaurant_phone_59054637" name="foodbakery_restaurant_contact_phone">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Restaurant name </label><input type="text" class="foodbakery-dev-req-field" id="foodbakery_restaurant_title_59054637" name="foodbakery_restaurant_title">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Restaurant phone</label><input type="text" id="foodbakery_restaurant_phone_59054637" name="foodbakery_restaurant_contact_phone">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Email Address</label><input type="text" id="foodbakery_restaurant_contact_email_59054637" name="foodbakery_restaurant_contact_email">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Username</label><input type="text" id="foodbakery_restaurant_contact_email_59054637" name="foodbakery_restaurant_contact_email">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            
                                                            <li>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Password</label>
                                                                        <input type="password" name="foodbakery_restaurant_username" class="foodbakery-dev-username foodbakery-dev-req-field">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>Confirm Password</label>
                                                                        <input type="password" name="foodbakery_restaurant_user_email" class="foodbakery-dev-user-email foodbakery-dev-req-field">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <div class="payment-holder">
                                                            <input type="submit" value="Submit" id="btn-next-restaurant-information" class="bgcolor">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->

{% endblock  %}